<div class="dashboard-wrapper">
    <div class="title">
      <h2>Dashboard</h2>
    </div>
    <!-- <div class="calender">
      <label for="calendarInput">Select a date:</label>
      <input type="date" id="calendarInput" name="calendarInput">
    </div> -->
  
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="dashboard-table">
            <thead>
              <tr class="orderTitle">
                <th colspan="5"><h3>Recent Orders</h3></th>
              </tr>
              <tr>
                  <th><i class="fa-regular fa-square"></i></th>
                <th>User Type</th>
                <th>Email</th>
                <th>Customer Name</th>
                <th>Service</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td><i class="fa-regular fa-square"></i></td>
                <td>Specialist</td>
                <td>myuseremail.com</td>
                <td>John Doe</td>
                <td>Carpentry</td>
                <td>Deactivate</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  