<!-- <div class="main">
    <div class="head">
        <div class="title">
            <h2>Orders</h2>
        </div>
        <div class="filter">
            <select class="select-box">
                <option value="">Status of Orders</option>
                <option value="completed">Completed</option>
                <option value="pending">Pending</option>
            </select>
        </div>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client Name</th>
                    <th>Order Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders ; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{order.user_fname}} {{order.user_lname}}</td>
                    <td>{{order.order_desc}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div> -->


<div class="orders-table">
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of customerOrders">
          <td>{{ order.orderId }}</td>
          <td>{{ order.productName }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.totalPrice | currency }}</td>
          <td>{{ order.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  