<section>
    <!--for demo wrap-->
    <h1>All Users</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th></th>
            <th>Company</th>
            <th>Price</th>
            <th>Change</th>
            <th>Change %</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody *ngFor="let user of users">
          <tr >
            <td>{{user.name}}</td>
            <td>AUSTRALIAN COMPANY </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </section>
  
  
  <!-- follow me template -->
  <div class="made-with-love">

    <p>All right reserved by conectar</p>
  </div>