.cont-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}

.select-box {
    border-radius: 10px;
    background-color: #DEE8FB;
    border: none;
    height: 4vh;
    width: 12vw;
    padding-inline: 1vw;
}

.select-box:focus {
    outline: none;
}

.successDiv,
.errorDiv {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: calc(100% - 1rem);
    box-sizing: border-box;
}

.filter {
    /* background-color: #07153b; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}
.filter select{
    background-color: white;
    border:1px solid #07153b;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #213360;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #07153b;
}

/* Custom styles for table */
h1 {
    font-size: 30px;
    color: #25b7c4;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
    color:
    #21cdc0 ;
}

.tbl-header {
    background-color: #25b7c4;
}

.tbl-content {
    /* height: 400px; */
    overflow-x: auto;
    margin-top: 0px;
    /* background-color: #3a4e84; */
    background-color: white;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color:
    #213360 ;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
  color:
    #21cdc0 ;;

    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

body {
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #25c481;
}

.made-with-love i {
    font-style: normal;
    color: #f50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: #fff;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}