<section>
  <div class="welcome">
    <div class="content-wrapper">
      <div class="img">
        <img
          src="../../../assets/istockphoto-1492139928-1024x1024.jpg"
          alt="image"
        />
      </div>
      <div class="content">
        <h1>Welcome to Conectar</h1>
        <p>Please sign-in or create account, if you are a new user</p>
        <div class="btn">
          <button routerLink="/register">Create Account</button>
          <button routerLink="/login" > Sign In</button>
        </div>
      </div>
    </div>
  </div>
</section>
