.login {
  padding: 0;
  height: 99.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d6d6;
  width: 100%;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  border-radius: 5px;

}

.img {
  flex: 1;
  height: 100%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0.5, 0.5));
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0.5, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  background-color: #737a8c;
  color: white;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  gap: 30px;
}

.form-group {
  position: relative;
}

.form-title {
  color: white;
  font-size: small;
  text-align: right;
}

.form-title a {
  color: #21cdc0;
}

.form-link {
  color: #21cdc0;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.form-link:hover {
  text-decoration: underline;
}

.title {
  font-size: 18px;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #1e1e1f;
}

.input-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 70%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.form-submit {
  background-color: #21cdc0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.form-submit:hover {
  background-color: #05385a;
}

.errorMsg {
  color: red;
  font-size: 20px;
  text-align:center;
  margin-top: 10px;
  /* background-color:white */
}

.successMsg {
  color: #21cdc0;
  font-size: 20px;
  text-align:center;
  margin-top: 10px;
  /* background-color: white; */
}

.psw {
  color: #21cdc0;
}

#reg-btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
}

/* responsiveness */
@media (max-width: 768px) {
  .img {
    display: none;
  }

  .login-wrapper {
    justify-content: center;
  }

  .content {
    width: 100%;
    padding: 10px;

  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-input,
  .form-submit {
    width: 100%;
  }
}